<h1>商品新規登録</h1>
<%= form_with model: Item.new, url: admin_items_path do |f| %>
  <div>
    商品画像<%= f.text_field :name %>
  </div>
  <div>
    商品名<%= f.text_field :name %>
  </div>
  <div>
    商品説明<%= f.text_field :introduction %>
  </div>
  <div>
    ジャンル<%= f.text_field :name %>
  </div>
  <div>
    税抜価格<%= f.text_field :price %>
  </div>
  <div>
    販売ステータス<%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit '新規登録', class: "btn btn-info" %>
  </div>
<% end %>