<h1><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h1>
<table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <tb>会員ID</tb>
      <tb><%= @customer.id %></td>
    </tr>
    <tr>
      <tb>氏名</tb>
      <tb><%= @customer.first_name %></tb>
      <tb><%= @customer.last_name %></tb>
    </tr>
    <tr>
      <tb>フリガナ</tb>
      <tb>(セイ)<%= @customer.first_name_kana %></tb>
      <tb>(メイ)<%= @customer.last_name_kana %></tb>
    </tr>
    <tr>
      <tb>郵便番号</tb>
      <tb><%= @customer.postal_code %></tb>
    </tr>
    <tr>
      <tb>住所</tb>
      <tb><%= @customer.address %></tb>
    </tr>
    <tr>
      <tb>電話番号</tb>
      <tb><%= @customer.telephone_number %></tb>
    </tr>
    <tr>
      <tb>メールアドレス</tb>
      <tb><%= @customer.email %></tb>
    </tr>
    <tr>
      <tb>会員ステータス</tb>
      <tb><%= @customer.is_active ? '有効' : '退会' %></tb>
    </tr>
    <tr>
      <td><%= link_to "編集", edit_admin_customer_path(@customer), class: "btn btn-success" %></td>
      <td><%= link_to "注文履歴一覧を見る", admin_customer_orders_path(@customer), class: "btn btn-primary" %></td>
    </tr>

  </tbody>
</table>