<h1>ジャンル一覧・追加</h1>
<%= form_with model: Genre.new, url: admin_genres_path do |f| %>
  <h5>ジャンル名</h5>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class: "btn btn-info" %>
<% end %>

<h3>ジャンル一覧</h3>
<table class="genre_info has_border">
  <thead>
    <tr>
      <th>ジャンル名</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, admin_items_path(genre_id: genre.id), class: "underline" %></td>
        <td>
          <% if genre.is_active? %>
            <span class="text-active">有効</span>
          <% else %>
            <span class="text-invalid">無効</span>
          <% end %>
        </td>
        <td class="text-center"><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

