<h1>商品詳細</h1>
  <div>商品名</div>
  <div><%= @item.name %></div>
  <div>商品説明</div>
  <div><%= @item.introduction%></div>
  <div>税込価格（税抜価格）</div>
  <div><%= @item.price %></div>
  
  <%= form_with model: [@item, @cart_item] do |f| %>
    <p>数量を選択して下さい。</p>
    <%= f.select :amount, [*(1..10)], {selected: 1} %>
    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
  <% end %>
